@model IEnumerable<CmsShop.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="categories">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="confirmDeletion" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts{
    <script>
        $("table#categories tbody").sortable({
            items: "tr",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#categories tbody").sortable("serialize");
                let url = "/admin/categories/reorder";

                $.post(url, ids, function () { })
            }
        });
    </script>
}